.App {
  // background-image: url("./dollarIcon.svg");
  // background-repeat: repeat;
  background-color: #11111161;
  max-height: 100vh;
}

.header {
  width: 100vw;
  min-width: 20vw;
  background-color: rgb(10, 20, 110);
  color: #fcf6f5ff;
  // box-shadow: 0px 10px 5px 3px rgba(0, 0, 255, 0.2);
  height: 10vh;
}

.headerWrapper {
  margin: 0 auto;
  padding: 0.25rem 0;
  max-width: 60vw;
  display: flex;
  justify-content: space-between;
  @media (max-width: 425px) {
    padding: 0;
    max-width: initial;
    align-items: center;
    justify-content: space-around;
  }
}

.headerTitle {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 5px red, 0 0 1px blue, 0 0 0.2em blue;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
  @media (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.headerLogo {
  max-width: 6rem;
  color: aliceblue;
  @media (max-width: 768px) {
    max-width: 3rem;
  }
}

///  currencyItem
.input {
  border: 1px solid rgb(10, 20, 110);
  border-radius: 0.35rem;
  padding: 0.5rem;
  min-width: 12rem;
  @media (max-width: 1024px) {
    min-width: 7rem;
    padding: 0.3rem 1rem;
  }
  @media (max-width: 768px) {
    min-width: 5rem;
    padding: 0 0.5rem;
  }
}

.select {
  border: 1px solid rgb(10, 20, 110);
  border-radius: 0.35rem;
  padding: 0.5rem;
  min-width: 12rem;
  margin-bottom: 2rem;
  @media (max-width: 1024px) {
    min-width: 7rem;
    padding: 0.3rem 1rem;
  }
  @media (max-width: 768px) {
    min-width: 5rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }
}

.item {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 3rem;
  justify-content: space-between;
  @media (max-width: 1024px) {
    padding: 0 1.5rem;
  }
}
// global
.wrapper {
  max-width: 65vw;
  height: 90vh;
  background-color: #fcf6f5ff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

// SwapWindow

.swapWrapper {
  margin: 0 auto;
  @media (max-width: 1024px) {
    min-width: 70vw;
  }
  @media (max-width: 768px) {
    max-width: initial;
  }
}

.container {
  max-width: 50vw;
  padding-bottom: 2rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 2rem;
  min-height: 13rem;
  align-items: center;
  @media (max-width: 1024px) {
    max-width: 70vw;
  }
  @media (max-width: 768px) {
    max-width: 60vw;
  }
  @media (max-width: 425px) {
    max-width: initial;
    padding: 0;
  }
}

.swapWindow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 1.5rem;
  align-items: center;
  @media (max-width: 768px) {
    flex-flow: column nowrap;
    padding: 1rem 0.3rem;
  }
}

.swapTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.equal {
  font-weight: 700;
  font-size: 3rem;
}

.currencyIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/// table
.tableWrapper {
  max-width: 60vw;
  padding: 2rem 0;
  margin: 0rem auto;
  background-color: #54b3ee61;
  background-color: white;
  border: 1px solid black;
  border-radius: 2rem;
}

.headerRow {
  background-color: black;
}
